{{# if image_url}}
    <img class='beer-img' src="{{image_url}}" alt="Picture of {{name}}">
{{/if}}

<h3 class="beer-name"><a href="/beers/beer-{{id}}">{{name}}</a></h3>
<p class="beer-tagline">{{tagline}}</p>
<p class="beer-description">{{description}}</p>

