{{# if image_url}}
    <img src="{{image_url}}" alt="Picture of {{name}}">
{{else}}
    [No Picture available]
{{/if}}
<p><a href="/beers/beer-{{id}}">{{name}}</a></p>
<p>{{description}}</p>
<p>{{tagline}}</p>

